---
http_interactions:
- request:
    method: get
    uri: https://api.elsevier.com/analytics/scival/publication/metrics?byYear=false&metricTypes=JournalImpact,ViewsCount,CitationCount&publicationIds=84979828304&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - bad token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Els-Reqid:
      - 27333a15a69172e9
      X-Els-Transid:
      - 185707482b3cf184
    body:
      encoding: ASCII-8BIT
      string: '{"error-response":{"error-code":"APIKEY_INVALID","error-message":"The
        provided apiKey is invalid."}}'
  recorded_at: Fri, 26 Nov 2021 08:16:00 GMT
- request:
    method: get
    uri: https://api.elsevier.com/analytics/scival/publication/metrics?byYear=false&metricTypes=JournalImpact,ViewsCount,CitationCount&publicationIds=84979828304&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
      X-Els-Reqid:
      - d74bc87d7a7e4d21
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - OK
      X-Els-Transid:
      - 2bab6e240134b2ea
    body:
      encoding: UTF-8
      string: '{"link":{"@ref":"self","@href":"https://api.elsevier.com/analytics/scival/publication/metrics?metricTypes=JournalImpact,ViewsCount,CitationCount&publicationIds=84979828304&apiKey=SCOPUS_API_TOKEN&httpAccept=application/json&byYear=false&sort=citedby-count","@type":"application/json"},"dataSource":{"sourceName":"Scopus","lastUpdated":"2021-11-17","metricStartYear":2016,"metricEndYear":2020},"results":[{"metrics":[{"metricType":"JournalImpact","value":3.5,"impactType":"CiteScore"},{"metricType":"ViewsCount","value":2934},{"metricType":"CitationCount","value":1829}],"publication":{"link":{"@ref":"self","@href":"https://api.elsevier.com/analytics/scival/publication/84979828304?apiKey=SCOPUS_API_TOKEN&httpAccept=application/json","@type":"application/json"},"title":"Blockchains
        and Smart Contracts for the Internet of Things","id":84979828304,"doi":"10.1109/ACCESS.2016.2566339","publicationYear":2016,"type":"Review","sourceTitle":"IEEE
        Access"}}]}'
  recorded_at: Fri, 26 Nov 2021 08:16:01 GMT
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query=blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
      X-Els-Reqid:
      - a039e1206ebec2fa
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - OK
      X-Els-Transid:
      - ef91eeb7ccd1688e
    body:
      encoding: UTF-8
      string: '{"search-results":{"opensearch:totalResults":"50833","opensearch:startIndex":"0","opensearch:itemsPerPage":"25","opensearch:Query":{"@role":
        "request", "@searchTerms": "blockchain", "@startPage": "0"},"link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count",
        "@type": "application/json"},{"@_fa": "true", "@ref": "first", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count",
        "@type": "application/json"},{"@_fa": "true", "@ref": "next", "@href": "https://api.elsevier.com/content/search/scopus?start=25&count=25&query=blockchain&sort=citedby-count",
        "@type": "application/json"},{"@_fa": "true", "@ref": "last", "@href": "https://api.elsevier.com/content/search/scopus?start=4975&count=25&query=blockchain&sort=citedby-count",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/84979828304"},{"@_fa":
        "true", "@ref": "author-affiliation", "@href": "https://api.elsevier.com/content/abstract/scopus_id/84979828304?field=author,affiliation"},{"@_fa":
        "true", "@ref": "scopus", "@href": "https://www.scopus.com/inward/record.uri?partnerID=HzOxMe3b&scp=84979828304&origin=inward"},{"@_fa":
        "true", "@ref": "scopus-citedby", "@href": "https://www.scopus.com/inward/citedby.uri?partnerID=HzOxMe3b&scp=84979828304&origin=inward"}],"prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84979828304","dc:identifier":"SCOPUS_ID:84979828304","eid":"2-s2.0-84979828304","dc:title":"Blockchains
        and Smart Contracts for the Internet of Things","dc:creator":"Christidis K.","prism:publicationName":"IEEE
        Access","prism:eIssn":"21693536","prism:volume":"4","prism:pageRange":"2292-2303","prism:coverDate":"2016-01-01","prism:coverDisplayDate":"2016","prism:doi":"10.1109/ACCESS.2016.2566339","citedby-count":"1839","affiliation":
        [{"@_fa": "true", "affilname":"NC State University","affiliation-city":"Raleigh","affiliation-country":"United
        States"}],"prism:aggregationType":"Journal","subtype":"re","subtypeDescription":"Review","article-number":"7467408","source-id":"21100374601","openaccess":"1","openaccessFlag":true,"freetoread":{"value":
        [{"$" :"all"},{"$" :"publisherfullgold"}]},"freetoreadLabel":{"value": [{"$"
        :"All Open Access"},{"$" :"Gold"}]}},{"@_fa": "true", "link": [{"@_fa": "true",
        "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85019665012"},{"@_fa":
        "true", "@ref": "author-affiliation", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85019665012?field=author,affiliation"},{"@_fa":
        "true", "@ref": "scopus", "@href": "https://www.scopus.com/inward/record.uri?partnerID=HzOxMe3b&scp=85019665012&origin=inwa[...]
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query=Blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - bad token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Els-Reqid:
      - f37e3e1f0f7f3bab
      X-Els-Transid:
      - ffc5e5096d794fef
    body:
      encoding: ASCII-8BIT
      string: '{"error-response":{"error-code":"APIKEY_INVALID","error-message":"The
        provided apiKey is invalid."}}'
  recorded_at: Fri, 26 Nov 2021 08:16:04 GMT
[...]
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query=%E5%A4%A7%E7%AC%A8%E7%8B%97&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
      X-Els-Reqid:
      - ea0bcae02ce99585
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - NO_SEARCH_RESULTS(Result set was empty)
      X-Els-Transid:
      - f959451d04938816
    body:
      encoding: UTF-8
      string: '{"search-results":{"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"@role":
        "request", "@searchTerms": "大笨狗", "@startPage": "0"},"link": [{"@_fa": "true",
        "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=%E5%A4%A7%E7%AC%A8%E7%8B%97&sort=citedby-count",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "error":"Result set
        was empty"}]}}'
  recorded_at: Fri, 26 Nov 2021 08:16:08 GMT
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
      X-Els-Reqid:
      - fe4b4bddf9856e2c
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - INVALID_INPUT - Must provide search criteria using the query parameter.
      X-Els-Transid:
      - 462e18c0e57cb15e
    body:
      encoding: UTF-8
      string: '{"service-error":{"status":{"statusCode":"INVALID_INPUT","statusText":"Must
        provide search criteria using the query parameter."}}}'
  recorded_at: Fri, 03 Dec 2021 08:13:20 GMT
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query=keyword&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - SCOPUS_API_TOKEN
      X-Els-Reqid:
      - c760684ca0cbf1b6
      X-Els-Resourceversion:
    [...]
